<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock title %}
{% block content %}

<div class="w3-container w3-center">
<h2>Password reset complete</h2>
<div class="w3-container">
    <div class="w3-container w3-card-4">
    <p>Your new password has been set. You can log in now on the
    <a href="{% url 'login' %}"><button class="w3-button w3-blue" type="submit">Login</button></a> page.
    </p>
    </div>
</div>
<br><br><br><br><br><br>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
{% endblock content %}