{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Enter new password{% endblock title %}

{% block content %}

<div class="w3-container">
<h2>Set a new password!</h2>
<div class="w3-container">
<form class="w3-container w3-card-4 w3-input" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <p><button class="w3-button w3-blue" type="submit">Change my password</button></p>
</form>
</div>
<br><br><br><br><br><br>
</div>
<br><br><br><br><br><br>


{% endblock content %}