{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="w3-container w3-center">
<h1>Forgot your password?</h1>
<p>Enter your email address below, and we'll email instructions for setting a new one.</p>

<div class="w3-container">
<form class="w3-container w3-card-4 w3-center w3-input" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <p><button class="w3-button w3-blue" type="submit">Send me instructions!</button></p>
</form>
</div>
<br><br><br><br><br><br>
</div>
<br><br><br><br><br><br>
{% endblock content %}
