{% extends "base.html" %}

{% block title %}All courses{% endblock %}

{% block content %}
<h1 class="w3-center">All courses</h1>
<div class="module w3-container">
    {% for course in object_list %}
        <div class="course-info w3-container w3-theme-l4">
        <h3>{{ course.title }}</h3>
             <p>
                 <a href="{% url 'course_edit' course.id %}">Edit</a>
                 <a href="{% url 'course_delete' course.id %}">Delete</a>
                 <a href="{% url 'course_module_update' course.id %}">Edit Module</a>
                 {% if course.modules.count > 0 %}
                     <a href="{% url 'module_content_list' course.modules.first.id %}">Manage contents</a>
                 {% endif %}
             </p>
        </div>
    {% empty %}
        <p>You haven't created any courses yet.</p>
    {% endfor %}
        <p>
            <a href="{% url 'course_create' %}" class="button w3-button w3-theme-l4">Create new course</a>
        </p>
</div>
{% endblock %}