{% extends "base.html" %}


{% block title %}
    {% if subject %}
        {{ subject.title }} courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}


{% block content %}
    <div class="w3-container w3-center">
    <h1>courses/course/list.html</h1>

    <h1>
        {% if subject %}
            {{ subject.title }} courses
        {% else %}
            All courses
        {% endif %}
    </h1>
    </div>

    <div class="contents w3-container w3-theme-l3 w3-margin">
        <h3 class="w3-center">Subjects</h3>
        <ul id="modules">
            <li {% if not subject %}class="selected w3-theme-l1 "{% endif %}>
                <a href="{% url 'course_list' %}">All</a>
            </li>
            {% for s in subjects %}
            <li {% if subject == s %}class="selected w3-theme-l1 "{% endif %}>
                <a href="{% url 'course_list_subject' s.slug %}">
                    {{ s.title }}
                <br><span>{{ s.total_courses }} courses</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="module w3-container w3-margin w3-theme-l5">
        {% for course in courses %}
        <div class="w3-container w3-theme-l3 w3-margin">
            {% with subject=course.subject %}
            <h3>
                <a href="{% url 'course_detail' course.slug %}" class="w3-hover-none w3-hover-text-blue">
                {{ course.title }}
                </a>
            </h3>
            <p class="w3-text-theme">
                <a href="{% url 'course_list_subject' subject.slug %}" class="w3-hover-none w3-hover-text-blue">{{ subject }}</a>.
                {{ course.total_modules }} modules. Instructor: {{ course.owner.get_full_name }}
            </p>
            {% endwith %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
