{% extends "base.html" %}

{% load static %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:1px">

  <!-- The Post body Section -->
  <div class="w3-container w3-content" style="max-width:800px" id="band">

    <div class="w3-card w3-margin-top w3-theme">
    <div class="w3-container w3-padding">
    <h1>student_course_detail.html</h1>
    <h1>{{ module.title }}</h1>
    <div class="contents">
        <h3>Modules</h3>
        <ul id="modules">
            {% for m in object.modules.all %}
                <li data-id="{{ m.id }}" class="w3-container {% if m == module %} selected w3-theme-d3 {% endif %}">
                <a href="{% url 'student_course_detail_module' object.id m.id %}">
                    <span>Module <span class="order">{{ m.order|add:1 }}</span></span>
                    <br>{{ m.title }}
                </a>
                </li>
            {% empty %}
            <li>No modules yet.</li>
            {% endfor %}
        </ul>
    </div>
    </div>
    </div>

    <div class="w3-card w3-margin-top">
    <div class="w3-container w3-padding">
    <h2 class="w3-wide">{{ module.title }}</h2>
    <p class="w3-opacity"><i>Created {{ module.course.created }} by {{ module.course.owner }}</i></p>
    </div>
    <div class="w3-container w3-white">

        <div class="module">
        {% for content in module.contents.all %}
        {% with item=content.item %}
            {{ item.render }}
        {% endwith %}
        {% empty %}
            No contents in this module yet...

        {% endfor %}
        </div>
    <p class="w3-justify">{{ post.body|linebreaks }}</p>
    </div>
    </div>

    <div class="w3-container">
    <div class="w3-card">
    <p class="w3-left"><button class="w3-button w3-theme w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button></p>
    <p class="w3-left"><button class="w3-button w3-theme w3-border" onclick="hideBlogCommentsFunctionByStyle('demo12')" id="myBtn"><b><i class="fa fa-comment"></i></b> Comment</button></p>
    <a href=""><p class="w3-left"><button class="w3-button w3-theme w3-border"><b><i class="fa fa-share"></i></b> Share this post</button></p></a>
    </div>
    </div>
    <hr>
         <div class="w3-container">
          <div class="w3-card w3-margin-bottom w3-theme-l5 w3-small" id="demo12" style="display:none">
            <div class="w3-container">
              {% if new_comment %}
                <h2>Your comment has been added.</h2>
              {% else %}
                <h2>Add a new comment</h2>
                <form action="." method="post" class="w3-theme-l5 w3-input w3-large">
                  {{ comment_form.as_p }}
                  {% csrf_token %}
                  <p><input type="submit" value="Add comment"></p>
                </form>
              {% endif %}
            </div>
          </div>
         </div>
  <hr>
    <p class="w3-clear"></p>
    <!-- Example of comment field -->
          <div class="w3-container">
            {% with comments.count as total_comments %}
                 <h4>
             {{ total_comments }} comment{{ total_comments|pluralize }}
                  </h4>
             {% endwith %}
          </div>

          <div class="w3-row w3-margin-bottom w3-theme-l5 w3-small" id="demo11" style="display:block">
            <hr>
             {% for comment in comments %}
              <div class="w3-col l2 m3">
                <img src="{% static 'images/3.jpg' %}" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>{{ comment.owner }}<span class="w3-opacity w3-medium"> {{ comment.created }}  #{{ forloop.counter }}</span></h4>
                <p>{{ comment.body|linebreaks }}</p>
              </div>
            {% empty %}
                  <p>There are no comments yet.</p>
            {% endfor %}
          </div>
    <hr>

  </div>

<!-- End Page Content -->
</div>
{% endblock %}