{% extends "base.html" %}

{% load static %}

{% load thumbnail %}

{% block title %}People{% endblock %}

{% block content %}

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>PEOPLE</h2>
<p>Sort by: Position</p>
<div class="w3-row"><br>
{% for user in users %}
        <div class="w3-quarter">
          <a href="{{ user.get_absolute_url }}">
              {% if user.profile.photo %}
                {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
                    <img src="{{ im.url }}" style="width:45%" class="w3-circle w3-hover-opacity">
                {% endthumbnail %}
              {% else %}
                    <img src="{% static 'img/no_image.png' %}" style="width:45%" class="w3-circle w3-hover-opacity">
              {% endif %}
          <h3>{{ user.username }}</h3>
          <p>Seamen</p>
          </a>
        </div>
{% endfor %}
</div>
</div>


{% endblock %}