{% load static %}

  <!-- Posts -->

  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Latest Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">


        {% for post in latest_posts %}
      <a href="{{ post.get_absolute_url }}">
      <li class="w3-padding-16">
        <img src="{% static 'images/1.jpg' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">{{ post.author }}</span><br>
        <span>{{ post.title }}</span>
      </li>
      </a>
      {% endfor %}


    </ul>
  </div>
